# {{ ansible_managed }}

# If not running interactively, don't do anything
[ -z "$PS1" ] && return

if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

[ -x /usr/bin/vim ] && alias vi='/usr/bin/vim'
[ -x /usr/local/bin/vim ] && alias vi='/usr/local/bin/vim'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

BGREEN='\[\033[1;32m\]'
GREEN='\[\033[0;32m\]'
BRED='\[\033[1;31m\]'
RED='\[\033[0;31m\]'
BBLUE='\[\033[1;34m\]'
BLUE='\[\033[0;34m\]'
NORMAL='\[\033[00m\]'
{% if common_user_ps1 is defined %}
PS1="{{ common_user_ps1 }}"
{% endif %}
